[Unit]
Description=Radicle seed service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=-/etc/default/radicle-seed
ExecStart=/usr/bin/radicle-seed-node --root $RADICLE_ROOT --peer-listen $PEER_LISTEN --http-listen $HTTP_LISTEN --name $NAME --public-addr $PUBLIC_ADDRESS --assets-path $ASSETS --bootstrap $BOOTSTRAP
StandardInput=file:/etc/radicle-seed/secret.key
StandardOutput=journal
StandardError=journal
PrivateTmp=yes
NoNewPrivileges=true

Restart=always
RestartSec=5

User=root

[Install]
WantedBy=multi-user.target
