[package]
name = "radicle-seed-node"
version = "0.1.0"
authors = ["The Radicle Team <dev@radicle.xyz>"]
edition = "2018"
license = "GPL-3.0-or-later"

[dependencies]
argh = "0.1.3"
chrono = "0.4"
futures = "0.3"
tokio = "0.2"
tracing = "0.1"
tracing-subscriber = "0.2"
warp = { version = "0.2.5", default-features = false }

[dependencies.librad]
git = "https://github.com/radicle-dev/radicle-link.git"
rev = "19b65a8d73c2af5052db6709de174eb03dd86369"

[dependencies.radicle-seed]
git = "https://github.com/radicle-dev/radicle-link.git"
rev = "19b65a8d73c2af5052db6709de174eb03dd86369"
